.examples-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.example-signature {
  padding: 20px 24px;
  border-bottom: 1px solid var(--accent-background-color);
  border-left: 1px solid var(--accent-background-color);
  border-right: 1px solid var(--accent-background-color);
}

.example-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.example-link {
  transition: box-shadow var(--transition-duration) var(--timing-cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }
}

.portfolio-card-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--dark-background-text-color);
  background: var(--accent-overlay-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-cubic);

  .example-link:hover &,
  .example-link:focus & {
    transform: translateY(0);
  }
}

.example-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-color);
}

.example-descr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.abbr {
  text-transform: uppercase;
}
